.login-container{
    display:flex;
    justify-content: center;
}
.login{
    /* width: 380px; */
    margin: 0 152px;
    text-align: center;
}
.login .image{
    height: 90px;
    width: 200px;
    margin: auto;
}
.error{
    color: red;
}
.input-form .input-field {
    /* display: block; */
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}